@charset "ISO-8859-1";

#exampleInputEmail1, #exampleInputPassword1, #phoneNumber, #otpCode {
	width: 80% !important;
}

body {
	background: #2A7B9B;
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%,
		rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	max-width: 400px;
	width: 100%;
}

#loginBtn {
	background-image: linear-gradient(to right, #314755 0%, #26a0da 45%, #314755 100%)
}

#loginBtn {
	margin: 10px;
	padding: 15px 40px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

#loginBtn:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}