<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>payrollreport</display-name>
	
	<listener>
		<listener-class>com.payroll.report.listener.PayrollDBTruncateListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>HttpsRedirectFilter</filter-name>
		<filter-class>com.payroll.report.filter.HttpsRedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpsRedirectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.payroll.report.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>PayrollAllDataServlet</display-name>
		<servlet-name>PayrollAllDataServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.PayrollAllDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayrollAllDataServlet</servlet-name>
		<url-pattern>/allpayroll</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PayrollDateMonthlyWiseServlet</display-name>
		<servlet-name>PayrollDateMonthlyWiseServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.PayrollDateMonthlyWiseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayrollDateMonthlyWiseServlet</servlet-name>
		<url-pattern>/monthlywisepayroll</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExcelFileDownloadServlet</display-name>
		<servlet-name>ExcelFileDownloadServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.ExcelFileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExcelFileDownloadServlet</servlet-name>
		<url-pattern>/downloadExcel</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PDFFileDownloadServlet</display-name>
		<servlet-name>PDFFileDownloadServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.PDFFileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PDFFileDownloadServlet</servlet-name>
		<url-pattern>/downloadPdf</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OTPVerifyServlet</display-name>
		<servlet-name>OTPVerifyServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.OTPVerifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OTPVerifyServlet</servlet-name>
		<url-pattern>/otpVerify</url-pattern>
	</servlet-mapping>



	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ResendOtpServlet</display-name>
		<servlet-name>ResendOtpServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.ResendOtpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResendOtpServlet</servlet-name>
		<url-pattern>/resendOtp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PayrollDataServlet</display-name>
		<servlet-name>PayrollDataServlet</servlet-name>
		<servlet-class>com.payroll.report.controller.PayrollDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayrollDataServlet</servlet-name>
		<url-pattern>/getPayrollData</url-pattern>
	</servlet-mapping>
</web-app>